
.dirstat-page {
  .dirstat-toolbar {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0 15px;
  }
}
